<div class="div" style="background-image: url(assets/img1.jpg);background-size: cover;">
<div class="container" ><br><br>
    <div class="card" style="background-color: rgb(227, 230, 229);">
     <div class="col-md-03"></div>
    
    <div class="col-md-06" >
         
            <p style="text-align: center;font-weight: bold;font-size: xx-large;">List of Employees</p>
            <button class="btn " style="float: right;" type="submit"><b>Search:</b><b><input class="form-control mr-sm-2" type="text" placeholder=""></b>
            </button>
            <button onclick="window.location.href='employees.html';" data-toggle="modal" id="myButton" class="btn btn-success" style="margin-left: 10px;">Add New</button>

            <br>
            <table class="table table-bordered">
                <thead class="thead" style="background-color: rgb(226, 249, 250);">
                    <tr>
                        <th>
                            <p text-align="center">Name</p>
                        </th>
                        <th>
                            <p text-align="center">Gender</p>
                        </th>
                        <th>
                            <p text-align="center">Employee Type</p>
                        </th>
                        <th>
                            <p text-align="center">Department</p>
                        </th>
                        <th>
                            <p text-align="center">Action</p>
                        </th>
                    </tr>
                </thead>
                <tbody class="sd" style="background-color:white">
                    <tr>
                        <th scope="row">Ganesh Devadhe</th>
                        <td>Male</td>
                        <td>Casual</td>
                        <td>Oracle</td>
                        <td><a class="btn btn-primary">Account</a>&nbsp;<a class="btn btn-danger" >Delete</a></td>
                            
                    </tr>
                    <tr>
                        <th scope="row">Sanket Pathak</th>
                        <td>Male</td>
                        <td>Regular</td>
                        <td>DBA</td>
                        <td><a class="btn btn-primary" >Account</a>&nbsp;<a class="btn btn-danger" >Delete</a></td>
                           
                    </tr>
                </tbody>
                <thead class="thead" style="background-color: rgb(206, 240, 241);">
                    <tr>
                        <th>
                            <p text-align="center">Name</p>
                        </th>
                        <th>
                            <p text-align="center">Gender</p>
                        </th>
                        <th>
                            <p text-align="center">Employee Type</p>
                        </th>
                        <th>
                            <p text-align="center">Department</p>
                        </th>
                        <th>
                            <p text-align="center">Action</p>
                        </th>
                    </tr>
                </thead>
               
            </table>
        </div>
    
        <div class="col-md-03"></div>
    </div>
</div><br></div>