
<div class="div" style="background-image: url(assets/img1.jpg);background-size: cover;">
<div class="container">
    <br>
    <div class="card" style="background-color:rgb(241, 238, 238)">
        <div class="col-md-03"></div>
        <div class="col-md-06">

            <h3 class="h3" style="text-align: center;font-weight: bold;color: blue;">Deduction </h3>
            <button type="button" data-toggle="modal" data-target="#deductions"
                            class="btn btn-danger" style="float:right;">+ Add Deduction</button><br><br>
            <table class="table table-bordered" style="background-color: lightyellow;">
                <thead class="thead" style="background-color: rgb(214, 248, 250);">
                    <tr>
                        <th>
                            <p text-align="center">#</p>
                        </th>
                        <th>
                            <p text-align="center">PhilHealth</p>
                        </th>
                        <th>
                            <p text-align="center">BIR</p>
                        </th>
                        <th>
                            <p text-align="center">GSIS</p>
                        </th>
                        <th>
                            <p text-align="center">PAG-IBIG</p>
                        </th>
                        <th>
                            <p text-align="center">Loans</p>
                        </th>
                        <th>
                            <p text-align="center">Total Deductions</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>1.00</td>
                        <td>3.00</td>
                        <td>2.00</td>
                        <td>6.00</td>
                        <td>5.00</td>
                        <td>16.00</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>2.00</td>
                        <td>4.00</td>
                        <td>1.00</td>
                        <td>5.00</td>
                        <td>7.00</td>
                        <td>19.00</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>3.00</td>
                        <td>1.00</td>
                        <td>5.00</td>
                        <td>8.00</td>
                        <td>6.00</td>
                        <td>23.00</td>
                    </tr><br>

                    <tr>
                        <button type="button" data-toggle="modal" data-target="#deductions"
                            class="btn btn-danger" style="float:right;">Update</button>
                    </tr><br>
                </tbody>
            </table>

        </div>
        <div class="col-md-03"></div><br>
        
    </div><br>
</div>
</div>