<div class="div" style="background-image: url(assets/img1.jpg);background-size: cover;">
<div class="container"><br><br>
    <div class="card" style="background-color:rgb(241, 238, 238)"><br>
    <form class="form-horizontal">
        <fieldset>
            <button type="button" data-toggle="modal" data-target="#overtime" class="btn btn-success">Modify Overtime
                Rate</button>&nbsp;&nbsp;
            <button type="button" data-toggle="modal" data-target="#salary" class="btn btn-primary">Modify Salary
                Rate</button>
            <!-- <p class="pull-right" style="float: right;font-weight: bold;"> per hour: 10.00</p><br>
           &nbsp;&nbsp; <p class="pull-right" style="font-weight: bold;float: right;">Salary rate: 15000.00</p><br> -->
            <button class="btn "style="float:right"  type="submit"><b>Search:</b><input class="form-control mr-sm-2" style="float: left;" type="text" placeholder="">
            </button>

            <p class="p1" style=" text-align:center;font-weight: bold;font-size: 20px;">Account</p>
            <div class="table-responsive">
                <form method="post" action="">
                    <table class="table table-bordered table-hover table-condensed" id="myTable" style="background-color: rgb(255, 255, 255);">
                        <!-- <h3><b>Ordinance</b></h3> -->
                        <thead class="thead" style="background-color: rgb(201, 248, 213);">
                            <tr class="info">
                                <th>
                                    <p text-align="center">Name</p>
                                </th>
                                <th>
                                    <p text-align="center">Deduction</p>
                                </th>
                                <th>
                                    <p text-align="center">Overtime</p>
                                </th>
                                <th>
                                    <p text-align="center">Bonus</p>
                                </th>
                                <th>
                                    <p text-align="center">Net Pay</p>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td text-align="center">Ganesh Devadhe</td>
                                <td text-align="center">1.00</td>
                                <td text-align="center"> 1 hrs</td>
                                <td text-align="center">.00</td>
                                <td text-align="center">2000.00</td>
                            </tr>
                            <tr>
                                <td text-align="center">Sanket Pathak</td>
                                <td text-align="center">5.00</td>
                                <td text-align="center"> 24hrs</td>
                                <td text-align="center">1000.00</td>
                                <td text-align="center">25000.00</td>
                            </tr>

                            <tr>
                                <td text-align="center">Nitu Sharma</td>
                                <td text-align="center">3.00</td>
                                <td text-align="center"> 10hrs</td>
                                <td text-align="center">10000.00</td>
                                <td text-align="center">15000.00</td>
                            </tr>


                        </tbody>
                        <thead class="thead" style="background-color: rgb(201, 248, 213);">
                        <tr class="info">
                            <th>
                                <p text-align="center">Name</p>
                            </th>
                            <th>
                                <p text-align="center">Deduction</p>
                            </th>
                            <th>
                                <p text-align="center">Overtime</p>
                            </th>
                            <th>
                                <p text-align="center">Bonus</p>
                            </th>
                            <th>
                                <p text-align="center">Net Pay</p>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </form>
            </div>
        </fieldset>
    </form>
</div><br><br>
</div>
</div>